form {
  display: flex;
  flex-direction: column;
  text-align: center;
  height:auto;
  max-width: 100%;
  margin: 10% 40%;
  background: rgba(25, 75, 214, 0.8);
  
}

form *{
  margin: 5px 0;
  font-size: 100%;
  
}

h1 {
  font-size: 250%;
  background-color: brown;
}