nav {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  opacity: 80%;
}

nav > * {
  color: white;
  padding: 4%; 
}

nav > *:hover {
  font-size: 300%;
}

nav a {
  font-size: 30px;
}

#headshot {
  display: flex;
  justify-content: left;
}

#headshot img {
  height: auto;
  max-width: 50%;
  border-radius: 50%;
}

body {
  background-image: url(./2140912.jpg);
}
